.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 1rem;

  &--copy {
    font-family: 'Space Mono', monospace;
    font-size: 0.8rem;
  }
  &--copy {
    font-family: 'Space Mono', monospace;
    font-size: 0.8rem;
  }
}
