.footer {
  width: 100%;
  height: fit-content;
  text-align: center;
  position: relative;
  color: white;

  &--copy {
    font-family: 'Space Mono', monospace;
    font-size: 0.8rem;

    @media all and (min-width: 768px) {
      font-size: 1rem;
    }
    @media all and (min-width: 1024px) {
      font-size: 1.3rem;
    }
  }
  &--date {
    font-size: 0.8rem;
    margin-right: 0.4rem;
    @media all and (min-width: 768px) {
      font-size: 1rem;
    }
    @media all and (min-width: 1024px) {
      font-size: 1.3rem;
    }
  }
}
