body {
  padding: 2rem;
  background-color: grey;
}

.header {
  width: 100%;
  height: auto;
  padding: 2rem;
  background-color: antiquewhite;
}
.nav-header {
  text-decoration: none;
}
.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media all and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-around;
  }

  @media all and (min-width: 1024px) {
    flex-direction: row;
    justify-content: space-around;
    //font-size: 1.5rem;
  }
}
.title {
  font-size: 1.7rem;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  color: black;
  padding-bottom: 0.5rem;

  @media all and (min-width: 768px) {
    font-size: 2rem;
  }
}
.nav-link {
  text-decoration: none;
  color: black;
}
.ul-header {
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  @media all and (min-width: 768px) {
    flex-direction: row;
    font-size: 2rem;
  }
}
