.section-Projects {
  width: 100%;
  font-family: 'Dancing Script', cursive;
  &--h1 {
    font-size: 1.5rem;
    color: rgb(86, 197, 177);
    padding: 5px 10px 5px 10px;

    @media all and (min-width: 768px) {
      padding: 10px 20px 10px 20px;
      font-size: 2.5rem;
    }
  }
}
.projects {
  width: 100vw;

  &--list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
