.section-Projects {
  width: 100%;
  height: fit-content;
  font-family: 'Dancing Script', cursive;

  &--h1 {
    font-size: 1.5rem;
    color: rgb(86, 197, 177);
    padding: 0 10px 10px 10px;
    @media all and (min-width: 768px) {
      padding: 10px 20px 10px 20px;
      font-size: 2.5rem;
    }
  }
}
.projects {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  gap: 25px;

  @media all and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;
  }
  @media all and (min-width: 1024px) {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;
  }
}
